{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h3>My stocks</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Buy price</th>
                <th scope="col">Current price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>

            {% for share in shares: %}

            <tr>
                <td>{{share.symbol}}</td>
                <td>{{share.name}}</td>
                <td>{{share.amount}}</td>
                <td>${{share.price|round}}</td>
                <td>{{lookup(share.symbol)["price"]}}</td>
                <td>${{lookup(share.symbol)["price"] * share.amount}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>${{ total }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>{{ cash_left + total }}</strong></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
